<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('/favicon.ico', 'images') }}">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bootstrap.min.css', 'css') }}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login &amp; Register Templates</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{{ app.asset_root }}/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ app.asset_root }}/assets/css/form-elements.css">
    <link rel="stylesheet" href="{{ app.asset_root }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ app.asset_root }}/css/oidc.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href=" {{ app.asset_root }}/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ app.asset_root }}/examples/starter-template/starter-template.css" rel="stylesheet">



    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">



    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{ app.asset_root }}/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ app.asset_root }}/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<!-- Javascript -->
<script src="{{ app.asset_root }}/assets/js/jquery-1.11.1.min.js"></script>
<script src="{{ asset('/bootstrap.min.js', 'js') }}"></script>
<script src="{{ app.asset_root }}/assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->


<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        </div>
</div><!-- /.container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="{{ asset('/assets/js/vendor/jquery.min.js') }}"><\/script>')</script>
<script src="{{ asset('/bootstrap.min.js', 'js') }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ app.asset_root }}/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
